* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.App {
    width: 80vw;
}

.post-list{
    padding-bottom: 1px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.my-button{
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.my-input {
    width: 50%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid teal;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar{
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: teal;
}

.navbar-links{
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a.link_to{
    color: teal;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.my-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 70vw;
}

.news-block{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.news-item{
    width: 400px;
    height: 400px;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.news-item > img{
    height: 300px;
    width: 300px;
}

.profile-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 40px;
    padding-bottom: 10px;
}